<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE logback>
<configuration>

  <appender name="STDOUT1" class="ch.qos.logback.core.ConsoleAppender">
     <encoder>
      <Pattern>%d{ISO8601}-%-5level,%thread,%marker,%logger - %msg%n</Pattern>
    </encoder>
  </appender>

  <appender name="STDOUT2" class="ch.qos.logback.core.ConsoleAppender">
     <encoder>
      <Pattern>%d{ISO8601}+%-5level,%thread,%marker,%logger - %msg%n</Pattern>
    </encoder>
  </appender>

  <logger name="testpkg.Main" level="INFO">
    <appender-ref ref="STDOUT2" />
  </logger>

  <root level="TRACE">
    <appender-ref ref="STDOUT1" />
  </root>
</configuration>
